body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #c62b29;
}

header {
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

.view {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.texto {
  font-size: 18px;
  line-height: 1.5em;
}

.code {
  background-color: #f0f0f0;
  font-family: monospace;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.code p {
  margin: 0;
}

footer {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 20px;
}